body {
  margin: 0%;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* nav bar styles */
.navbar {
  width: 100%;
  background-color: transparent;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  color: rgb(201, 246, 117);
}

/* Current/active navbar link */
.active {
  color: #04AA6D !important;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

a:link, a:visited {
  color: #ffffff;
}

.nav-bar-with-bg {
  background-color: #333;
}

.scrolldown {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
}

ul li {
  margin: 0 15px;
}

.header-nav-bar {
    display: flex;
    justify-content: center;
    font: 16px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    align-items: center;
    z-index: 100;
    position: fixed;
    min-height: 50px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

#aboutus {
  height: auto;
  display: flex;
  background: #000000;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  color: #ffffff;
}

.profilePic {
  width: 100%;
  height: auto;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.flexx {
  display: flex;
}

.flex-1 {
  flex: 1;
}

#pic-container {
  display: flex;
  justify-content: end;
}

#item-1 {
  flex: 0.50;
  /* padding-top: 30px; */
}

#item-2 {
  flex: 1.25;
  padding-left: 15px;
  /* padding-top: 30px; */
}

#item-3 {
  flex: 0.25;
  padding-right: 5px;
  /* padding-top: 30px; */
}

.article-p-element {
  text-align: justify;
  line-height: 30px;
  color: #7A7A7A;
}

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  /* animation: movebtn 3s ease-in-out infinite; */
  transition: all .5s ease-in-out;
}
/* .icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
} */

/* resumes styles */

#edu-container, #works-container, #skills-container {
    display: flex;
    height: 33%;
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 90%;
}

#edu-container {
  margin-top: 50px;
  /* border-bottom: 1px double #11ABB0; */
}

#works-container {
  /* border-bottom: 1px double #11ABB0; */
}

.horizontal-line {
  height: 0.5vh;
  background: radial-gradient(
    ellipse at center,
    rgba(17, 171, 176, 0.1) 0%,
    rgba(17, 171, 176, 0.5) 10%,
    rgba(17, 171, 176, 0.15) 30%,
    rgba(17, 171, 176, 0.3) 60%,
    rgba(17, 171, 176, 0) 75%
  );
}

#edu-left-container, #works-left-container, #skills-left-container{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: end;
}

#edu-left-container h1 span, #works-container h1 span, #skills-left-container h1 span {
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}

#edu-right-container, #works-right-container, #skills-right-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#edu-right-container h3, #works-container h3 {
  font-size: 30px;
}

#skills-right-container p {
  color: #858e97;
}

#skills-right-container-display {
  display: flex;
  flex-direction: column;
}

#skills-right-container-displayOne {
  display: flex;
  flex-direction: row;
}

#skills-right-container-displayTwo {
  display: flex;
  flex-direction: row;
}

/* Skills circular bar */

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
}

#works {
  background: #ebeeee;
  padding-top: 50px;
  padding-bottom: 10px;
}

#works h1 {
  font: 15px/24px "Trebuchet MS", Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 18px;
  color: #7e7e7e;
  font-weight: bold;
}

#portfolio-container {
  display: flex;
  justify-content: center;
}

.imageHolder {
  width: 250px;
  height: auto;
  margin: 5px;
  border: 3px solid #333;
  position: relative;
}

.middle {
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 1;
  border: 3px solid #333;
}

 #imageFirstOverlay:hover .overlay {
  opacity: 1;
}

 #imageSecondOverlay:hover .overlay {
  opacity: 1;
}

 #imageThirdOverlay:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    background: url(assets/overlay-bg.png) repeat;
    color: #fff;
}

.link-icon {
    display: block;
    color: #fff;
    height: 30px;
    width: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
}

.fa-custom-icon {
  color: "#fff"
}

#testimonials-section {
  height: 100vh;
  padding-top: 50px;
  background-color: rgb(254, 205, 5);
  justify-content: center;
  flex-direction: row;
  display: flex;
}

#testimonials-span {
  font-size: 16px;
  color: #c24242;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

#testimonials-header {
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  margin: 25px 0px;
}

#testimonials-main-container {
  border: 2px solid #ddd;
  height: 100%;
  background-color: #ffffff;
  width: 90%;
  border-radius: 10px;
}

#testimonials-explaination-left-container {
  display: flex;
  width: 50%;
  padding-left: 3%;
  text-align: left;
  font-family: cursive;
  font-size: 20px;
  color: #000000;
}

#user-recommendation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3%;
}

/* From uiverse.io by @bhaveshxrawat */
/* testimonials card css */

.card {
  width: 320px;
  height: 250px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.card::before {
  content: '';
  position: absolute;
  width: 150px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 155%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */


/* card info */
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2em; */
  padding: 0 1rem;
 }

 /*Text*/
.text-title {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #ffffff;
  letter-spacing: 0.05rem;
  z-index: 99999;
 }
 
 .text-body {
  font-size: .8em;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  z-index: 9999;
 }
 

 /* Contact us input style */
 #contactus {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
 }

 input {
  height: 35px;
  border: 0.8px solid #ddd;
  margin: 10px 0px;
  width: 100%;
  max-width: 700px;
 }

 textarea {
  border: 0.8px solid #ddd;
  width: 100%;
  margin: 10px 0px;
 }

 input:focus-visible {
  outline: 2px solid #0037fd
 }

 input:focus {
  outline: 2px solid #0037fd
 }

 table {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
 }

 #name-span-container, #usermessage-span-container, #email-span-container {
   width: 100%;
   margin: 0;
   padding: 0;
   text-align: left;
 }

 thead {
   height: 40px;
 }

 #contact-us-form {
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  max-width: 700px;
  margin: 20px auto 0px auto;
  height: auto;
  overflow: scroll
 }

 #submit-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  height: 40px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: inherit;
  font-weight: 600;
  max-width: 700px;
 }

 /* Add responsiveness - */
@media screen and (max-width: 650px) {
  .navbar a {
    float: none;
    display: block;
    font-size: 10px;
    padding: 6px;
  }
  .header-nav-bar {
    justify-content: center;
  }
  #contact-us-form { 
    max-width: 400px;
    margin: 20px auto 0px auto;
    height: auto;
    overflow: scroll;
  }
  input {
    width: 400px;
  }
}